#container {
    display: grid;
    width: 100%;
    height: 100%;
}

header {
    display: grid;
    width: 100%;
}

h1 {
    display: grid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(78, 16, 60);
    background-color: rgb(249, 243, 250);
    margin: 0;
    padding: 2%;
}

main {
    display: grid;
    width: 100%;
    background-color: rgb(249, 243, 250);
}

h2 {
    display: grid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(78, 16, 60);
    padding: 2%;
}

nav {
    display: grid;
    width: 50%;
    justify-self: center;
}

#nav-list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    text-align: center;
    list-style: none;
}

a {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130%;
    color: rgb(78, 16, 60);
}

table {
    display: grid;
    justify-self: center;
    width: 40%;
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#thead,
#tbody {
    width: 100%;
}

td,
th {
    padding: 2%;
}

#th1,
#th2 {
    text-align: left;
    padding-left: 0;
}

tr {
    width: 100%;
    border-bottom: 0.5px solid rgb(78, 16, 60);
}

td:first-child,
th:first-child {
    width: 5%;
} 

td:nth-child(2),
th:nth-child(2) {
    width: 15%;
}

td:nth-child(3) {
    width: 5%;
    text-align: center;
}

th:nth-child(3) {
    width: 3%;
    text-align: center;
}