#container {
    display: grid;
    width: 100%;
    height: 100%;
}

header {
    display: grid;
    width: 100%;
}

h1 {
    display: grid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(78, 16, 60);
    background-color: rgb(249, 243, 250);
    margin: 0;
    padding: 2%;
}

main {
    display: grid;
    width: 100%;
    background-color: rgb(249, 243, 250);
}

h2 {
    display: grid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(78, 16, 60);
    padding: 2%;
}

nav {
    display: grid;
    width: 50%;
    justify-self: center;
}

#nav-list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    text-align: center;
    list-style: none;
}

a {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130%;
    color: rgb(78, 16, 60);
}

table {
    display: grid;
    width: 60%;
    border-collapse: collapse;
}

#thead,
#tbody {
    width: 100%;
}

th, td {
    border: 2px solid black;
    padding: 2%;
}