#container {
    display: grid;
    width: 100%;
    height: 100%;
}

header {
    display: grid;
    width: 100%;
}

h1 {
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(78, 16, 60);
    background-color: rgb(249, 243, 250);
    margin: 0;
    padding: 2%;
}

main {
    display: grid;
    width: 100%;
    background-color: rgb(249, 243, 250);
}

h2 {
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(78, 16, 60);
    padding: 2%;
}

nav {
    display: grid;
    width: 50%;
    justify-self: center;
}

#nav-list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    text-align: center;
    list-style: none;
}

a {
    color: black;
}

#start-link,
#about-link {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130%;
    color: rgb(78, 16, 60);
    text-decoration: none;
}

#section-head,
#section-text {
    display: grid;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2%;
}

form {
    display: grid;
    justify-self: center;
    margin-bottom: 2%;
    width: 100%;
}

#form-list {
    justify-self: center;
    line-height: 2em;
    list-style: none;
    padding-left: 1%;
    width: 40%;
}

#sort-tab,
#sok-tab {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin-right: 2%;
}

#sort-val {
    padding: 2px;
}

#table-section,
#about-section {
    display: grid;
}

#table1 {
    justify-self: center;
    width: 40%;
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    padding: 1%;
    margin-bottom: 3%;
}

#table2 {
    justify-self: center;
    width: 70%;
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    padding: 2%;
    margin-bottom: 3%;
}

#thead,
#tbody {
    width: 100%;
}

td,
th {
    padding: 2%;
}

#th1,
#th2,
#th3,
#th4 {
    text-align: left;
    padding-left: 2%;
}

tr {
    width: 100%;
    border-bottom: 0.5px solid rgb(240, 186, 224);
}

#table1 td:first-child,
#table1 th:first-child {
    width: 5%;
}

#table1 td:nth-child(2),
#table1 th:nth-child(2) {
    width: 15%;
}

#table1 td:nth-child(3) {
    width: 5%;
    text-align: center;
}

#table1 th:nth-child(3) {
    width: 3%;
    text-align: center;
}

#table2 td:first-child,
#table2 th:first-child {
    width: 40%;
}

#table2 td:nth-child(2),
#table2 th:nth-child(2) {
    width: 50%;
}

footer {
    display: grid;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 1%;
    color: rgb(78, 16, 60);
}

@media only screen and (max-width: 1500px) {

    #table1 {
        width: 60%;
    }

     #table2 {
        width: 90%;
    }

    #form-list {
        width: 60%;
    }
}

@media only screen and (max-width: 1050px) {

    #table1 {
        width: 80%;
    }

    #form-list {
        width: 80%;
    }

    nav {
        width: 65%;
    }
}

@media only screen and (max-width: 700px) {

    #table1 {
        width: 90%;
    }

     #table2 {
        width: 95%;
        font-size: 95%;
    }

    #table2 td {
        display: block;
        width: 100% !important;
    }

    #table2 th {
        display: none;
    }

    #form-list {
        width: 90%;
    }

    h1 {
    font-size: 170%;
}

    #start-link,
    #about-link {
        font-size: 110%;
    }

    #section-head {
        font-size: 105%;
        margin-bottom: 6%;
    }

    th,
    footer {
        font-size: 90%;
    }
}

@media only screen and (max-width: 500px) {


    #section-text {
        font-size: 95%;
        margin-bottom: 6%;
    }
}